* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

input:hover {
	background-color: rgb(148, 146, 137);
	transform: scale(1.2);
}

button:hover {
	font-size: xx-large;
	border: 12px solid blue;
	color: black;
	text-transform: uppercase;
}
